<body id="page-top" class="index" style="">
    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
    <div class="gallary animate-grid">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio</h2>
                    <h3 class="section-subheading text-muted">Hire best developer.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="categories">
                        <ul>
                            <li>
                                <ol>
                                    <li><a href="#" data-filter="*" class="active">All</a></li>
                                    <li><a href="#" data-filter=".laravel">Laravel</a></li>
                                    <li><a href="#" data-filter=".codeigniter">CodeIgniter</a></li>
                                    <li><a href="#" data-filter=".cms">CMS</a></li>
                                </ol>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row gallary-thumbs" style="">
                <div class="col-md-4 col-sm-6 portfolio-item laravel">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search-plus"></i>
                            </div>
                        </div>
                        <%= image_tag('webtoonsdb.com1.png', class: "img-responsive") %>
                        <%# <img src="myphotofolio/webtoonsdb.com1.png" class="img-responsive" alt=""> %>
                    </a>
                    <div class="portfolio-caption">
                        <h4> Review comics, webtoonsdb</h4>
                        <p class="text-muted">Laravel + Vue</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item codeigniter">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search-plus"></i>
                            </div>
                        </div>
                        <%= image_tag('machinerytrader.com.png', class: "img-responsive") %>
                        <%# <img src="myphotofolio/machinerytrader.com.png" class="img-responsive" alt=""> %>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Machinary auction site</h4>
                        <p class="text-muted">CodeIgniter</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item cms">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search-plus"></i>
                            </div>
                        </div>
                        <%= image_tag('avestatek.co.uk.png', class: "img-responsive") %>
                        <%# <img src="myphotofolio/avestatek.co.uk.png" class="img-responsive" alt=""> %>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Buy a camera, please improve your life screens</h4>
                        <p class="text-muted">Opencart e-commerce</p>
                    </div>
                </div>
                <div class="clearfix visible-md visible-lg"></div>
                <div class="col-md-4 col-sm-6 portfolio-item laravel">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search-plus"></i>
                            </div>
                        </div>
                        <%= image_tag('ramlybola.com desktop (1).png', class: "img-responsive") %>
                        <%# <img src="myphotofolio/ramlybola.com desktop (1).png" class="img-responsive" alt=""> %>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Malaysia betting site</h4>
                        <p class="text-muted">Laravel</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item laravel">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search-plus"></i>
                            </div>
                        </div>
                        <%= image_tag('dietsonline.net(keto).png', class: "img-responsive") %>
                        <%# <img src="myphotofolio/dietsonline.net(keto).png" class="img-responsive" alt=""> %>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Keto diet site</h4>
                        <p class="text-muted">Laravel + Vue</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item laravel">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-search-plus"></i>
                            </div>
                        </div>
                        <%= image_tag('mangahand.com.png', class: "img-responsive") %>
                        <%# <img src="myphotofolio/mangahand.com.png" class="img-responsive" alt=""> %>
                    </a>
                    <div class="portfolio-caption">
                        <h4>Manga site</h4>
                        <p class="text-muted">Laravel + Angular </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

   
    <!-- Portfolio Modals -->
    <!-- The script bellow will open a page for every single portfolio item which will contain detailed information about that item! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Webtoonsdb</h2>
                                <p class="item-intro text-muted">based on Laravel + Vue
                                    This website is to look at the comic/manga/webtoons with a list being updated daily for free.
                                    Its foundation is Laravel + Vue, wonderful and fatastic, partner for a perfect full stack.
                                    This front-end was built on Vue js Single Page Application and back-end was built on Laravel php mvc framework.
                                    Visitors can view funny comics based on their ranking by title, genre, character, author and more.
                                    Vuetify and Vuex technology are used and social media link module/services are integrated. Responsive design is keeping beautiful and perfect using bootstrap-vue library and components.</p>
                                <%= image_tag('webtoonsdb.com.png', class: "img-responsive img-centered") %>
                                <%# <img class="img-responsive img-centered" src="myphotofolio/webtoonsdb.com1.png" alt=""> %>
                                
                                
                                <ul class="list-inline">
                                    
                                    
                                    
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="modal-body">
                                <h2>Machinery Trader</h2>
                                <p class="item-intro text-muted">
                                    You can take an auction to get the best heaby machine. Dev team developed this auction site using CodeIgniter PHP framework and I was in charge of admin-panel.
                                    Users and admins are able to export status as an image to check their activity.
                                    CodeIgniter is an open-source software rapid development web framework, for use in building dynamic web sites with PHP. Since I am a talented web developer, I am able to develop project using fully CodeIgniter libraries and third party libraries. If you want to develop a project very urgently, I would recommend CodeIgniter or Laravel as a MVC framework.</p>
                                <%= image_tag('machinerytrader.com.png', class: "img-responsive img-centered") %>
                                <%# <img class="img-responsive img-centered" src="myphotofolio/machinerytrader.com.png" alt=""> %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Avestatek e-commerce</h2>
                                <p class="item-intro text-muted">An e-cormmerce for a better choice of high quaility camera based Opencart CMS.
                                    The OpenCart marketplace features 13000+ modules and themes to jump-start, grow and expand your business. You can find beautiful themes for just about any sector, service integrations, payment providers, shipping methods, social media, marketing, accounting, reporting, sales as well as language packs.
                                    Easily and quickly development and stunning usage.</p>
                                <%= image_tag('avestatek.co.uk.png', class: "img-responsive img-centered") %>
                                <%# <img class="img-responsive img-centered" src="myphotofolio/avestatek.co.uk.png" alt=""> %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Ramlybola Betting site</h2>
                                <p class="item-intro text-muted">Laravel betting site
                                    My development team and me use RESTFUL APIs and other different APIs to implement a lot of functionalities of all games and bettings. Main functionalities are transfer money between accounts to accounts or banks to banks and withdraw and deposit.
                                    Perfect design for mobile and desktop both versions are enough beautiful and perfect to attract more users. Many services from Laravel framework </p>
                                <%= image_tag('ramlybola.com desktop (2).png', class: "img-responsive img-centered") %>
                                <%# <img class="img-responsive img-centered" src="myphotofolio/ramlybola.com desktop (2).png" alt=""> %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Keto Diet Site</h2>
                                <p class="item-intro text-muted">Survey site for keto diet and keep attracting healty based Laravel + Nuxt
                                    Back-end is based on Laravel PHP framework and front-end is based on Nuxt.js.
                                    In this site development I used to Laravel as an API and Nuxt as a Single Page Application.
                                    There are more reasons to use these packages, such as when using Laravel Passport and the CreateFreshApiToken. The middleware will create an api_token cookie on web routes that use the get http verb, and that's a problem if developer is not serving his SPA from within Laravel.
                                    The ease of development and the vibrant community are what attract you to a Laravel based solution</p>
                                <%= image_tag('dietsonline.net(keto).png', class: "img-responsive img-centered") %>
                                <%# <img class="img-responsive img-centered" src="myphotofolio/dietsonline.net(keto).png" alt=""> %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Mangahand site</h2>
                                <p class="item-intro text-muted">based on Laravel + Angular
                                    Visitors can see the mangas for free. This website was build on Laravel + Angular.
                                    Front-end is based on Angular(popular javascript framework) back-end is based on Laravel(powerful PHP MVC framework).
                                    Fron-end and back-end was developed separately for each other.
                                    MySQL database was used to store huge amount of mangas' data.
                                    Facebook API and different social media APIs are integrated 
                                    This website might me updated by other sites such as mangkakalot.com, mangarock.com, mangahub.io and manganelo.com. To scrape lot of data, this use python modules or php curl library.</p>
                                <%= image_tag('mangahand.com.png', class: "img-responsive img-centered") %>
                                <%# <img class="img-responsive img-centered" src="myphotofolio/mangahand.com.png" alt=""> %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Isotope plugin for filtering with animation -->
    <script src="https://unpkg.com/isotope-layout@3.0.3/dist/isotope.pkgd.js"></script>
    
</body>